
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(6, 59, 86);
}

#mapid {
    height: 600px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#speed {
  color: black;
  border-radius: 20px;
  border-color: rgb(173, 187, 248);
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  font-size: small;
  text-align: center;
}
.graphSlider{
  width: 100%;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
.card{
background-color: rgb(129,200,0);
}
header{
  color: rgb(233, 239, 239);
}
.btn-bg{
 background-color: rgb(6, 59, 86);
}
.btn-success{
  background-color: rgb(129,200,0);
}